.friends-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.friends-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.friends-list-item {
  list-style: none;
}
