.table-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: 2px solid rgba(11, 11, 11, 0.5);
}
.table-head-list-item {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 12px 4px;
}

.table-items-list-item {
  padding: 12px 4px;
}

.table-items-list:nth-of-type(even) {
  background-color: #a19f9f;
}
